streamlit==1.41.0
altair==5.5.0
transformers==4.51.0
accelerate==1.6.0
langchain==0.3.25
langchain-community==0.3.24
langchain-huggingface==0.1.2
langchain-core==0.3.59
langchain-text-splitters==0.3.8
langchain-classic==1.0.2
faiss-cpu==1.9.0
sentence-transformers==3.4.1
rank_bm25==0.2.2
pymupdf4llm==0.0.17
openai==1.75.0
bert-score==0.3.13
rouge-score==0.1.2
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.4
seaborn==0.13.2
torch==2.5.1
tokenizers==0.21.1