streamlit==1.41.0
altair==5.5.0
transformers
accelerate
langchain
langchain-community
langchain-huggingface
langchain-core
langchain-text-splitters
faiss-cpu==1.13.2
sentence-transformers
rank_bm25==0.2.2
pymupdf4llm==0.0.17
openai
bert-score
rouge-score
pandas
numpy
matplotlib
seaborn
torch
tokenizers